.header-container {
  background: #636363;
  width: 100%;
  min-height: 670px;
}

.logo {
  background-image: url("/img/header/logo.png");
  background-repeat: no-repeat;
  margin-top: 32px;
  width: 82px;
  height: 32px;
  cursor: pointer;
  z-index: 185;
}

.nav-list {
  display: flex;
}

.nav-items {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "AvertaPE";
  font-weight: bold;
  line-height: 5;
  text-align: center;
  font-size: 16px;
  margin-top: 7px;
  margin-right: 30px;
  letter-spacing: 2px;
}

.nav-items a {
  text-decoration: none;
}

.menu-icon {
  display: flex;
  margin: auto;
  justify-content: flex-end;
}

.icon {
  display: flex;
  margin: 10px 12px 0;
}

.nav__mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 1;
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.4s, opacity linear 0.4s;
}

.nav__mobile-list > li {
  list-style-type: none;
  align-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 5;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}

.nav__mobile-close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}

.nav__mobile-list li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.nav__mobile-link {
  text-decoration: none;
  color: rgb(15, 8, 8);
  display: block;
  cursor: pointer;
  padding: 8px 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.5s;
}

.nav__input:checked ~ .overlay {
  display: block;
}

.nav__input:checked ~ .nav__mobile {
  transform: translate(0);
  opacity: 1;
}

.shopping-bag {
  background: url(/img/header/menu/shopping-bag.png) no-repeat;
  width: 20px;
  height: 30px;
}

.shopping-bag:hover,
.shopping-bag:active {
  background: url(/img/header/menu/shopping-bag-black.png) no-repeat;
  cursor: pointer;
}
.search:hover,
.search:active {
  background: url(/img/header/menu/search-black.png) no-repeat;
  cursor: pointer;
}
.menu:hover,
.menu:active {
  background: url(/img/header/menu/menu-black.png);
  color: black;
  cursor: pointer;
}
.search {
  background: url(/img/header/menu/search.png) no-repeat;
  width: 20px;
  height: 30px;
}
.menu {
  background: url(/img/header/menu/menu.png) no-repeat;
  width: 22px;
  height: 30px;
}

.banner {
  margin-top: 90px;
}

.banner-text {
  letter-spacing: 4px;
  line-height: 5;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--while);
  text-align: center;
}
.banner-heading {
  letter-spacing: 7px;
  color: var(--while);
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
}

.banner-italic {
  letter-spacing: 6px;
  color: var(--while);
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  font-style: italic;
}

.arrow-down {
  padding-top: 150px;
}

.arrow-elipse {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  text-align: center;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-elipse::before {
  position: absolute;
  content: "";
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.6);
}

.about-us {
  min-height: 421px;
  background-color: #f6f6f6;
}

.heading-center {
  padding-top: 80px;
  text-align: center;
  color: rgb(23, 23, 23);
  font-weight: bold;
  line-height: 1.579;
  font-size: 38px;
  padding-bottom: 32px;
}

.text-center {
  padding-bottom: 7px;
  text-align: center;
  font-size: 21px;
  color: rgb(95, 95, 95);
  line-height: 1.6;
}

.signature {
  background: url(/img/aboutus/signature.png) no-repeat;
  width: 223px;
  height: 57px;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.parameter {
  min-height: 260px;
  background: url(/img/pattern\ bg.png);
}

.project {
  width: 200px;
  height: 260px;
}

.project-img {
  margin-top: 12px;
  width: 41px;
  height: 36px;
}

.project-information {
  position: relative;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
}

.project-index {
  margin-left: 10px;
}

.project-index-number {
  font-size: 18px;
  color: var(--while);
  text-transform: uppercase;
  line-height: 1.667;
  text-align: left;
}
.project-index-text {
  font-size: 14px;
  color: var(--while);
  text-transform: uppercase;
  line-height: 2.143;
}

.best-project {
  min-height: 1446px;
}

.project-new-img > img {
  width: 370px;
  height: 250px;
}

.project-new-img-content {
  width: 370px;
  height: 250px;
  font-size: 24px;
  background: #f6f6f6;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.project-new-img-content .text-center {
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.5;
}

.pagination {
  position: relative;
  min-height: 500px;
  background: url(/img/pattern\ bg.png);
  margin-top: 80px;
}

.text-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  font-style: italic;
  line-height: 1.2;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
}

.pagination-text {
  color: #ffffff;
}

.clients {
  min-height: 200px;
  width: 100%;
}

.clients-logo {
  margin: 0 20px;
}

.center-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.news {
  min-height: 804px;
}

.content-news-detail {
  margin-right: 12px;
  margin-left: 10px;
}

.content-news-detail img {
  background: black;
}

.img-content {
  position: relative;
  width: 370px;
  height: 250px;
  background: url(/img/11.jpg) no-repeat;
  background-position: center;
}
.button {
  position: absolute;
  border: none;
  cursor: pointer;
  outline: none;
  background: #252525;
  color: #ffffff;
  text-transform: uppercase;
  width: 90px;
  height: 30px;
  left: 5%;
  top: 85%;
}

.text-content {
  margin: 10px 15px 0;
  font-size: 21px;
  line-height: 1.6;
  color: rgb(95, 95, 95);
}

.text-content-heading {
  margin: 10px 15px 0;
  font-size: 26px;
  font-weight: bold;
}

.text-content-month {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 15px 0;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .menu-icon {
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .nav__mobile {
    display: block;
  }
  .project-new-img {
    padding: 16px 16px;
    margin: 14px 0;
  }
}

@media (max-width: 740px) {
  .menu-icon {
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .menu-icon {
    display: flex;
    justify-content: space-between;
  }
  .project-new-img {
    padding: 4px 10px;
    margin: 14px 0;
  }
}

@media (min-width: 1113px) {
  .project-new-img {
    padding: 16px 4px;
    margin: 14px 0;
  }
}
